<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6t1AVEXxLUq4OvaIpclcYgD6R-NRilt4&sensor=true&libraries=visualization">
<%= javascript_include_tag 'twitter' %>

<div id="panel">
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
</div>
<div id="map-canvas"/>

</script>

