<div>
    <br><br>
    <h2 style="color:white;">Controls</h2>
    <div class="btn-toolbar" roll="toolbar">
        <button class="btn btn-success" ng-click="toggleHeatmap()">Toggle Heatmap</button>
    </div>
    <br>
    <div>
        <h4 class="text-left" style="color: white;">Map Type:</h4>
        <div class="btn-group">
            <button ng-repeat="type in map_types" type="button" class="btn btn-info {{type.active? 'active' : ''}}" ng-click="update_map_type(type.type)">
                {{type.type}}
            </button>
        </div>
        <br><br>
    </div>
    <div>
        <h4 class="text-left" style="color: white;">Refresh Rate:</h4>
        <div class="btn-group">
            <button ng-repeat="refresh in refresh_rates" class="btn btn-warning {{refresh.active ? 'active' : ''}}" ng-click="set_refresh(refresh.rate)">
                {{refresh.rate == 0 ? "Once" : refresh.rate + " sec"}}
            </button>
        </div>
        <br><br>
    </div>
    <div>
        <h4 class="text-left" style="color: white;">Result Count:</h4>
        <div class="btn-group">
            <button ng-repeat="size in result_sizes" class="btn btn-danger {{size.active ? 'active' : ''}}" ng-click="set_size(size.size)">
                {{size.size}}
            </button>
        </div>
        <br><br>
    </div>
    <div>
        <h4 class="text-left" style="color: white;">Intensity:</h4>
        <div ui-slider="{stop:radius_stop}" min="0" max="50" ng-model="data.heatmapOptions.radius"></div>
        <br>
    </div>
    <div>
        <h4 class="text-left" style="color: white;">Opacity:</h4>
        <div ui-slider="{stop:opacity_stop, step:0.01}" min="0" max="1" ng-model="data.heatmapOptions.opacity"></div>
        <br>
    </div>
    <div>
        <h4 class="text-left" style="color: white;">Key Words:</h4>
        <query></query>
    </div>
</div>