<div ng-repeat="param in query_params">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" ng-click="toggle_input_type($index)" class="btn btn-toolbar">{{param.include ? 'Include' : 'Exclude'}}</button>
        </div>
        <input type="text" class="form-control" ng-model="param.input" value="{{param.input}}">
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="remove_query_param($index)">X</button>
        </span>
    </div>
    <br>
</div>
<div class="btn-toolbar pull-right" role="toolbar">
    <button class="btn btn-success" ng-click="add_query_param()">Add Another Query</button>
    <button class="btn btn-info" ng-click="submit_query()">Submit</button>
</div>
<div style="clear:both;"></div>
<br>