<!DOCTYPE html>
<html>
<head>
	<title>We Do Big Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC6t1AVEXxLUq4OvaIpclcYgD6R-NRilt4&sensor=true&libraries=visualization"></script>
	<%= requirejs_include_tag "dashboard_config" %> 
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
